<div class="page">
  <h1>Cours</h1>
  <button (click)="openPopup = true">Ajouter un cours</button>
  <form [formGroup]="form">
    <input type="text" placeholder="recherche" class="research" (input)="getAllCours()" formControlName="search">
  </form>
 

  <table class="tableau">
    <thead>
        <tr>
          <th>Professeur</th>
          <th>Catégorie</th>
          <th>Level</th>
          <th>Âge catégorie</th>
          <th>Jour</th>
          <th>Heure</th>
          <th>Participants</th>
        </tr>
      </thead>
      <tbody>
        @for(cours of allCours; track cours){
            <tr>
                <td >{{cours.professor}}</td>
                <td>{{cours.category}}</td>
                <td>{{cours.level }}</td>
                <td>{{cours.age_category}}</td>
                <td>{{cours.jour}}</td>
                <td>{{cours.heure}}</td>

                @if(cours.inscriptionCours){
                  <td>
                    @for(inscription of cours.inscriptionCours; track inscription){
                        <li>{{inscription.member.first_name}} {{inscription.member.last_name}}</li>
                    }
                  </td>
                }
            </tr>
        }
      </tbody>
  </table>

  @if(openPopup){
    <app-popup (close)="openPopup = false"
    [name]="name"
    ></app-popup>
  }

</div>


