<table>
    <thead>
        <tr>
          <th>Proffesseur</th>
          <th>catégorie</th>
          <th>level</th>
          <th>age catégorie</th>
          <th>date</th>
          <th>participants</th>
        </tr>
      </thead>
      <tbody>
        @for(cours of allCours; track cours){
            <tr>
                <td >{{cours.professor}}</td>
                <td>{{cours.category}}</td>
                <td>{{cours.level }}</td>
                <td>{{cours.age_category}}</td>
                <td>{{cours.date | date:'dd/MM/yyyy'}}</td>

                @if(cours.inscriptionCours){
                    @for(inscription of cours.inscriptionCours; track inscription){
                        <li>{{inscription.member.first_name}}</li>
                    }
                    
                }
            </tr>
        }
      </tbody>
</table>
