<div class="container-menu border-right">

    <div class="padding-5px cursor link" 
        [class.active]="step === 'dashboard'" 
        (click)="go('dashboard')">
        Dashboard
    </div>

    <div class="padding-5px cursor link" 
        [class.active]="step === 'members'" 
        (click)="go('members')">
        Adhérents
    </div>

    <div class="padding-5px cursor link" 
        [class.active]="step === 'course'" 
        (click)="go('course')">
        Cours
    </div>

    <div class="padding-5px cursor link" 
        [class.active]="step === 'internships'" 
        (click)="go('internships')">
        Stages
    </div>

    <div class="padding-5px cursor link" 
        [class.active]="step === 'events'" 
        (click)="go('events')">
        Evenements
    </div>

    <div class="padding-5px cursor link" 
        [class.active]="step === 'mails'" 
        (click)="go('mails')">
        Envois de mails
    </div>
</div>

